@import url('keyframes.css');



.v3 {
  stroke-dasharray: 1200 150;
  stroke-dashoffset: 2700;
  animation: draw 4s linear;
}

/*

footer {
  height: 20vh;
  background-color: #5367FC;
}*/





.is-active {
  animation: fadeIn 1s;
}

.none {
  opacity: 0;
}

.white {
  color: white;
}

.or {
    color: #5367FC;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
}

.w-adjust {
  width: 184px;
}





@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Yeseva+One');


.text--bolder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
}

ul a {
  text-decoration: none;
  color: #5367FC;
  
}



/* blanc = #EEF0FF*/



body {
  background-color: #313131;

}

nav {
  color: var(--primary--color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 35px;
}


.navbar__list {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 550px;
}


.hero__text {
 
  
  margin-top: 80px;
  margin-bottom: 80px;
  line-height: 25px;
}


.hero__text div {
  font-family: 'Open Sans', 'sans-serif';
  color: white;
  animation: pulse 4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  margin-right: 80px;
}


.hero__text h2 {
margin-bottom: 20px;
font-size: 24px;
}


.hero__img {
display: flex;
justify-content: center;
align-items: center;
}

.hero__img-bg {
  height: 700px;
  width: auto;
}

button {
  border-color: #5367FC;
  background-color: transparent;
  width: 184px;
  height: 43px;
  cursor: pointer;
}

.hero__button {
  display: flex;
  justify-content: center;;
  align-items: flex-end;
}

.svg--1 {
  position: absolute;
  right: 24%;
  z-index: -1;
}






.svg__second {
  position: absolute;
  bottom: -53.4%;
  right: 48%;
}




/* FIRST SECTION*/




  .stepOne__global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 465px;
  }

  .stepOne__global- {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }


  .stepOne__number {
    font-size: 200px;
    font-weight: bolder;
    color: #5367FC;
  }


 .adjust--svg {
   height: 30vh;
 }


 .stepOne__img {
   width: 510px;
   height: 510px;
 }
 

 .stepOne__title {
  font-family: 'Yeseva One';
   font-size: 48px;

 }

 .stepOne__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  
 }

 .stepOne__text__global {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   line-height:30px;
   color: white;
   margin-right: 80px;

 }

.stepOne__button {
  text-align: right;
  width: 60%;
 

}

.stepOne__button button {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

/*END FIRST SECTION */

.svg--3 {
  position: absolute;
  left: 30%;
 
}

.adjust__svg {
  height: 40vh;
}

.adjust__svg-3 {
 height:40vh;
}

.svg--4 {
  right: 25.5%;
  position: absolute;
 
}


/* SECOND SECTION*/
.stepTwo__global {
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 465px;
}

.stepTwo__number {
  color: #5367FC;

}


.stepTwo__global {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  height: 465px;
  color: white;
}

.stepTwo__global- {
  display: flex;
  justify-content: center;
  align-items: center;
}


.stepTwo__number {
  font-size: 200px;
  font-weight: bolder;
  color: #5367FC;
}

.stepTwo__text {

}


.adjust--svg {
 height: 30vh;
}


.stepTwo__img {
 width: 510px;
 height: 510px;
}


.stepTwo__title {
font-family: 'Yeseva One';
 font-size: 48px;

}

.stepTwo__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.stepTwo__text__global {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 line-height:30px;

}

.stepTwo__button {
text-align: right;
width: 60%;
}

.stepTwo__global- {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}


.stepTwo__button button {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
}






/* END SECOND SECTION*/



/*THIRD SECTION*/

.stepThree__global {
  display: flex;
  flex-direction: row;
}




/*END THIRD SECTION*/







/* LUCY PAGE */

.lucy {
  color: white;
}

.img__lucy {
  text-align: center;
  height: 95vh;
}

.img__lucy- {
 height:562px;
 width: 589px;
}

.img__lucy-- {
  width:687px ;
  height: 563px;
}

.img__lucy--- {
  width:773px ;
  height: 567px; 
}





.lucy__story {
  display: flex;
  flex-direction: row;

  margin: 0 150px 0 150px;
  
}

.lucy__story__div {
  margin: 30px 117px 200px 205px;
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', 'sans-serif';
  line-height: 25px;
}

.lucy__story__text {
  font-size: 48px;
  font-family: 'Yeseva One';
  margin-bottom: 50px;
}

.lucy__svg {
  position: absolute;
  left: 24%;
  
}

.svg-change {
  height: 41vh;
}

.lucy__second {
  display: flex;
  flex-direction: row;
  margin: 0 150px 0 150px;
 

}

.lucy__second__text {
  
  margin: 30px;
 
}

.second__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 62px;
}

.second__text h2 {
  font-size: 48px;
  font-family: 'Yeseva One';
}

.second__text p {
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', 'sans-serif';
  line-height: 25px;
}

.lucy__third {
  display: flex;
  flex-direction: row;
  margin: 0 150px 0 150px;
}

.lucy__third__text {
  margin: 30px;
}

.svg--change {
  height: 41vh;
  
}

.svg--change-1 {

  position: absolute;
  left:25%;
}

.button__next- {
  margin-left: 850px;
  margin-bottom: 105px;
 
}






/*   END LLUCY PAGE    */






/*    FOOTER */

.footer- {
  height: 250px;
color: white;
font-family: 'Open Sans', 'sans-serif';
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5367FC;
}

.foot {
  display :flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin: 0 50px;
}

.foot button {
  background-color: transparent;
  border-color: white;
}



/*      END FOOTER    */




/* QUIZ */

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  
}

.quiz__title {
  font-size: 65px;
  color: #5367FC;
}

.quiz__global {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;

}


/* END QUIZ */





/* BUTTONS HOME PAGE */


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  
}



.first__button {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.second__button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 379px;
}

.spec-button {
  background-color: #5367FC;
  color: white;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  width: 200px;
  height: 50px;
  
}

.spec-button:hover {
  opacity: .8;
  cursor: pointer;
}


/*  END    BUTTONS HOME PAGE   */

.testx, .testjs {
  transform: scale(1);
  transition: .3s ease-in-out;
}

.testx:hover, .testjs:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
}




/*        PAGE OF THE END QUIZ         */

.answerQuiz {
  animation: fadeIn 2s;
}

 .answerQuiz__global {
   display: flex;
   flex-direction: row;
   align-items: center; 
   text-align: left;
   justify-content: space-around;
  
 }

 .answerQuiz__global {
   margin-left: 85px;
 }

 .answerQuiz__text {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 569px;
   margin:0 200px 0 200px;
   width: 510px;
  
 }



 .answerQuiz__text p {
   color: white;
   width: 100%;
   letter-spacing: 1px;
   line-height: 25px;
   font-size: 18px;
   font-family: 'Open Sans', 'sans-serif';
 }


 .answerQuiz__text--title {
   font-size: 24px;
   font-family: 'Yeseva One';
   width: 100%;
   color: white;
   letter-spacing: 1px;
 }

 .answerQuiz__button {
   width: 100%;
   
 }

 .answerQuiz__button button {
   color: white;
   font-size: 14px;
   font-family: 'Open Sans', 'sans-serif';
   font-style: normal;
 }
 /*               END PAGE OF THE END QUIZ          */

 /* MANUFACTURING PAGE */


 .manu__title {
   color:#5367FC;
   font-family: 'Yeseva One';
   font-size: 48px;
 }

 .manu__home__global {
  display : flex;
  flex-direction: row;
  
  margin: 0 100px;
 }

  .manu__home__global div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }






 /*   END MANUFCATURING PAGE */



